* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--bg-color);
}

main {
  height: calc(100% - 56px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logoContainer {
  margin-top: 100px;
}

.btn-submit {
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #3ba58b;
}

.btn-submit:hover {
  background-color: #3ba58b;
  color: #fff;
}