* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 90%;
}


.loginContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* .chat-container {
  height: 800px;
} */

.btn-submit {
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #3ba58b;
}

.btn-submit:hover {
  background-color: #3ba58b;
  color: #fff;
}
/* https://github.com/mdyeates/my-portfolio/blob/main/src/pages/portfolio/Portfolio.js */
